[Desktop Entry]
Encoding=UTF-8
Comment=Connect to a remote NX server
Exec=/usr/NX/bin/opennx
Icon=/usr/NX/share/icons/nx.png
Name=OpenNX client
Type=Application
Categories=X-opennx;
OnlyShowIn=KDE;
